<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Cast</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
  <h1>Add Cast</h1>
  <form action="/cast/add" method="post">

    <label for="first" id="first" name="first">First Name</label><br>
    <input type="text" id="first" name="first" size="20" class="form-control" placeholder="e.g: Good Naming"><br><br>

    <label for="last" id="last" name="last">Last Name</label><br>
    <input type="text" id="last" name="last" size="20" class="form-control" placeholder="e.g: Good Last name"><br><br>

    <label for="phone" id="phone" name="phone">Phone Number</label><br>
    <input type="text" id="phone" class="form-control" name="phone" placeholder="e.g: 1957"><br><br>

    <label for="birth" id="birth" name="birth">Birth Year</label><br>
    <input type="text" id="birth" class="form-control" name="birth" placeholder="e.g: 1957"><br><br>

    <label for="genre" id="genre" name="genre">Gender</label><br>
    <input class="form-check-input" type="radio" name="gender" id="gender" value="Male"> Male <br>
    <input class="form-check-input" type="radio" name="gender" id="gender" value="Female"> Female<br><br>

    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </form>
  </div>
</body>
</html> 